@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .table-border {
    @apply border-[0.5px] border-gray-500;
  }
  .center {
    @apply flex items-center justify-center;
  }
}

/* @media print {
  .print-a4 {
    width: 794px;
    height: 1123px;
    margin: 0 auto;
    page-break-after: always;
  }
} */
